/* .origin {
  background-color: grey;
} */

.monSelect {
  margin: auto;
  width: 60%;
  padding: px;
}

.btn {
  background-color: #4285F4;
}

.divo{
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 250px;
  background-color: black;
  color: white;
}

#window{
  height: 70vh;
  width: 80vw;
  background-color: black;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
}

.ship{
  position: relative;
  height: 10vh;
  width: 10vw;
}

#ship{
  position: absolute;
  right: 350px;

}

#ship-cont{
  display: flex;
  box-sizing:content-box;
  width: 100%;
  height: 20%;
  
}

.bullet{
  height: 10vh;
  width: 10vw;
  background-color: white;
}
