.monSelect {
  width: 20vw;
  height: 10vh;
  background-color: black;
  font-size: 17px;
  font-style: italic;
  padding-left: 50px;
  margin-left:5vw ;
  color: white;

}

.monSelect:hover{
  background-color: white;
  color: black;
  transition: 0.5s;
  cursor: pointer;
}

.btn {
  background-color: black;
  width: 150px;
  border: 1.5px white;
  border-radius: 30px;
  padding: 20px;
  font-size: 100%;
  font-style: italic;
  border: solid 1px white;
  color: white;

}

ul{
  margin-top:10vh ;
}

.btn:hover{
  background-color: white;
  color: black;
  transition: 0.5s;
  cursor: pointer;
}

.divo {
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  
  
  /* background-color: red; */
  color: white;
  
}

#window {
  height: 70vh;
  width: 80vw;
  background-color: black;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(10, 1fr) ;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#ship {
  grid-column: 6;
  grid-row: 10;
  overflow: auto;

}

.ship {
  position: relative;
  height: 10vh;
  width: 10vw;
  
}

.origin{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/star.jpg");
  width: 100vw;
  height: 100vh;
}


.divGame {
  margin: auto;
  width: 50vw;
  height: 30vh;
  padding-left: 15vw;
  background-color: black;
  color: white;
}


/* @import url(https://fonts.googleapis.com/css?family=Anton&effect=fire-animation); */
html {
  background-image: url("./img/star.jpg");
} 

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 150px;
  text-align: center;
  font-family: serif;
}


.score {
  color: white;
  height: 400px;
}

.bullet {
  height: 1vh;
  width: 1vw;
  background-color: white;

  animation-duration: 5s;
}

/* 
@keyframes pan {
  from{
    position: inherit;
    bottom: 70px;
    right: 50px;
  }

  75%{
    bottom: 500px;
  }
  to{
    display: none;
    
  }
} */


.monster {
  width: 4vw;
  height: 4vh;
  height: 50%;
  width: 50%;
  grid-row: 5;
  grid-column: 6;
  
  

}

.bull-img{
  height: 3vh;
  width: 3vw;
  grid-area: 9 / 6   ;
  
}
/* 
Matcher la balle avec le monstre en passant les row et les columns en state,

SI le x et le y de la balle sont les memes que celles du monstre
<<<<<<< HEAD
ALORS le monstre et la balle disparaissent */


.winner{
  margin: auto;
  width: 40vw;
  height: 60vh;
  padding-left: 20vw;
  padding-top: 5vh;
  
}

.over{
  margin-top: 10vh;
  margin-left: 6vw;
  height: 50vh;
  width: 40vw;
}
/* >>>>>>> 6f68f915d5897cc5772cd12554b018d86db0c740 */
