.monSelect {
  width: 20vw;
  height: 10vh;
  background-color: #e25822;
  font-size: 17px;
  font-style: italic;
  padding-left: 50px;

}

.btn {
  background-color: #4285F4;
  width: 150px;
  border: 1.5px white;
  border-radius: 50%;
  padding: 40px;
  font-size: 100%;
  font-style: italic;

}

.divo {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 250px;
  /* background-color: red; */
  color: white;
  background-image: url("./img/star.jpg")
}

#window {
  height: 70vh;
  width: 80vw;
  background-color: black;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(10, 1fr) ;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#ship {
  grid-column: 6;
  grid-row: 10;
  overflow: auto;

}

.ship {
  position: relative;
  height: 10vh;
  width: 10vw;
  
}


.divGame {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 250px;
  background-color: black;
  color: white;
}


/* @import url(https://fonts.googleapis.com/css?family=Anton&effect=fire-animation); */
html {
  background: rgb(255, 255, 255);
} 

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 150px;
  text-align: center;
  font-family: serif;
}


.score {
  color: white;
  height: 400px;
}

.bullet {
  height: 1vh;
  width: 1vw;
  background-color: white;

  animation-duration: 5s;
}

/* 
@keyframes pan {
  from{
    position: inherit;
    bottom: 70px;
    right: 50px;
  }

  75%{
    bottom: 500px;
  }
  to{
    display: none;
    
  }
} */


.monster {
  width: 4vw;
  height: 4vh;
  height: 50%;
  width: 50%;
  grid-row: 5;
  grid-column: 6;
  
  

}

.bull-img{
  height: 3vh;
  width: 3vw;
  grid-area: 9 / 6   ;
  
}
/* 
Matcher la balle avec le monstre en passant les row et les columns en state,

SI le x et le y de la balle sont les memes que celles du monstre
<<<<<<< HEAD
ALORS le monstre et la balle disparaissent */

.winner{
  margin: auto;
  width: 80%;
  padding: 200px;
}